<h1 class="my-4">自分の投稿</h1>
<p>
  検索する；
  <%= form_with url:  mypage_path, method: :get do |f| %>
  <%= f.search_field :keyword, value: params[:keyword], placeholder: "キーワードで検索" %>
  <%= f.submit "search" %>
  <% end %>
</p>

<%= link_to "新しい投稿をする", new_post_path, class: "btn btn-primary mb-4" %>

<%= render "posts/posts", posts: @posts %>