<div class="row">
  <div class="col-sm-9 offset-sm-2 col-md-7 offset-md-3">
    <h1 class="my-5"><%= @user.name %></h1>
    <% @posts.each do |post| %>
      <%= link_to post.title, post_path(post.id) %>
      <% if post.post_images.any? %>
        <% post.post_images.each do |post_image| %>
          <% if post_image.image.attached? %>
            <%= link_to post_path(post.id) do %>
              <%= image_tag post_image.image, size: "100x100" %>
            <% end %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
            <br>       </br>
          <% end %>
        <% end %>
        <p class="card-text">説明：<%= post.body %></p>
      <% end %>
    <% end %>
  </div>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <p><%= link_to "退会する", user_path(@user), method: :delete, data: { confirm: "本当に退会しますか？" } %></p>
  <% end %>
</div>




