<%= form_with model: post do |f| %>
  <%= render "layouts/error_messages", model: post %>
  
  <div class="mb-2">
    <%= f.label :title, "タイトル", class: "h4" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= f.label :tag_name, "タグ", class: "h4" %>
    <%= f.text_field :tag_name, placeholder: "タグをカンマで区切って入力", class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :image, "画像", class: "h4" %>
    <%= f.file_field :image, accept: "image/*", class: "form-control" %>
    <%= image_tag f.object.image if !f.object.new_record? && f.object.image.attached? %>
  </div>
  
  <hr>
  
  <div class="mb-2">
    <%= f.label :body, "本文", class: "h4" %>
    <%= f.text_area :body, rows: 5, class: "form-control" %>
  </div>

  <div class="my-4">
    <%= f.submit '投稿', class: "btn btn-primary px-4 btn-block" %>
  </div>
<% end %>
