<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <th>image</th>
      <th>body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if posts.any? %>
      <% posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td>
            <% if post.post_images.any? %>
              <%= image_tag post.post_images.first.image, size: "100x100" if post.post_images&.first&.image&.attached? %> 
            <% else %>
              <%= image_tag 'no_image.jpg', size: "100x100" %>
            <% end %>
          </td>
          <td><%= post.body.truncate(15) %></td>
          <td><%= link_to "詳細", post_path(post.id), class: "btn btn-outline-primary" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">投稿がまだありません。</td>
      </tr>
    <% end %>
  </tbody>
</table>