<h1 class="my-5">投稿一覧</h1>

<div class="my-4">
  <%= form_with url:  mypage_path, method: :get do |f| %>
    <%= f.search_field :keyword, value: params[:keyword] %>
    <%= f.submit "search" %>
  <% end %>
</div>

<%= render "posts/posts", posts: @posts %>



showpage
<h1 class="my-5"><%= @post.title %></h1>
<div class="card mt-5">
   <div class="card-body">
      <span class="d-flex justify-content-between">
        <%= image_tag @post.image,size: "200x200" %>
        <div class="text-black-50 bg-white"><%= @post.user.name %></div>
      <span class="d-flex flex-row-reverse">
        <span class="p-2">

          <% if current_user == @post.user %>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-success"  %>
            <%= link_to "投稿の削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger"   %>
          <% end %>
        </span>
      </span>

       </div>
  </div>
</div>

<!-- タグの表示部分 -->
<div class="tags">
  <h3>タグ:</h3>
  <% @tags.each do |tag| %>
    <span class="tag">
      <%= link_to tag.name, tag_path(tag) %>  <!-- タグをクリックするとそのタグに関連する投稿一覧へリンク -->
    </span>
  <% end %>
</div>

<h2 class="mt-5">説明文</h2>
<div class="">
  <%= @post.body %>
</div>

<h2 class="mt-5">コメント一覧</h2>
<p>コメント件数：<%= @post_comments.count %></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="55%">コメント</th>
      <th width="15%">投稿者</th>
      <th width="15%">投稿日時</th>
      <th width="15%"></th>
    </tr>
  </thead>
  <tbody>
    <% if @post_comments.any? %>
      <% @post_comments.each do |post_comment| %>
        <tr>
          <td><%= simple_format(post_comment.comment) %></td>
          <td><%= post_comment.user.name %></td>
          <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to "画像を見る", post_image_path(post_comment.post_image), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">コメントはまだありません。</td>
      </tr>
    <% end %>
  </tbody>
</table>






