<h1 class="my-5">投稿詳細</h1>
<h2 class="my-2"><%= @post.title %></h2>
  <%# if @post.image.attached? %>
     <%#= image_tag @post.image, size: "400x400" %>
  <%# else %>
     <%#= image_tag 'no_image', size: "400x400" %>
  <%# end %>
<%= link_to @post.title, post_path(@post.id) %>
<div class="row">
  <% if @post.post_images.any? %>
    <% @post.post_images.each do |post_image| %>
      <% if post_image.image.attached? %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <%= link_to post_path(@post.id) do %>
            <%= image_tag post_image.image, class: "w-100" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'no_image', size: "100x100" %>
    </div>
  <% end %>
</div>

<h2 class="my-5">説明文</h2>
<div class="">
  <%= @post.body %>
</div>

<% if current_user == @post.user %>
  <%= link_to "Edit", edit_post_path(@posts.id)  %>
  <%= link_to "Destroy", post_path(@posts.id),method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>


      
    
